root, body {
	font-family: "aeons-mono";
}

/* @TODO: Add a universal stylesheet */
.notched-panel {
	
}

.screen-bottom {
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	margin: 0;
	background-color: rgba(20, 20, 20, 0.85);
	border-top: 1px solid rgba(20, 20, 20, 0.9);
	border-top: 1px solid rgba(20, 20, 20, 0.9);
}

LevelUiPanelComponent
{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
    height: 100%;
    background-color: transparent;
    pointer-events: none;
	
	/* TOP-LEFT: Tracking panel */
	.tracking-panel {
		position: absolute;
		top: 18px;
		left: 18px;
		
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	/* TOP-RIGHT: Information & tools panel */
	.info-tools-panel {
		position: absolute;
		top: 18px;
		right: 18px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		
		.top {
			margin-bottom: 8px;
			
			OverlaysPanel {
				margin-right: 8px;
			}
		}
		
		.bottom {
			.minimap {
				margin: 0 8px;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
			}
		}
	}

	/* BOTTOM-LEFT: Menu panel */
    .menu-panel {
		width: calc(100% - 300px);
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-end;
	}

	/* BOTTOM-RIGHT: Notification panel */
	.notification-panel {
		width: 300px;
	}
}
