{
  "Systems": {
    "Sandbox.Systems.Map.MapGeneratorSystem": {
      "Settings": "default_generation.genconf",
      "Theme": "default_theme.gentheme",
      "ElevationHeightmapMaterial": "materials/tile_unlit.vmat",
      "VoronoiLineMaterial": "materials/opaque_line.vmat"
    }
  },
  "__guid": "1d576939-4be1-41cf-8eb5-2b1019c2a06b",
  "__schema": "configdata",
  "__type": "SystemsConfig",
  "__version": 1
}