.sim-panel {
  pointer-events: all;
  height: 40px;
  margin: 4px 0;
  background-color: rgba(20, 20, 20, 0.4);
  border: 1px solid rgba(20, 20, 20, 0.7);
  border-radius: 4px;
  
  .divider {
    height:100%;
    width: 1px;
    background-color: rgba(20, 20, 20, 0.7);
  }
  
  .sim-icon {
    margin: 0 2px;
    cursor: pointer;
    border: 1px solid transparent;
    
    &:hover {
      background-color: rgba(70, 140, 217, 0.5);
      border: 1px solid rgba(20, 20, 20, 0.5);
    }
    
    &.selected {
      background-color: rgba(70, 140, 217, 0.8);
      border: 1px solid rgba(20, 20, 20, 0.7);
    }
  }
}

.sim-alert {
  margin-top: 4px;
  height: 40px;
  margin-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 4px;
  }

  span {
    text-shadow: rgba(0, 0, 0, 0.9) 0 0 3px;
    color: rgb(248, 210, 68);
    font-size: 18px;
    font-weight: 600;
  }
}